*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Utility*/
.bg-grey{
    background-color: #808080;
}

.m-1{
    margin: 1rem;
}
.mt-3{
    margin-top: 3rem;
}
.p-15{
    padding: 15px;
}

.rounded{
    border-radius: 10px;
}

.border-y{
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}
/*END Utility*/

body{
    background-color: #b91450;
}

main{
    margin-top: 50px;
}

h2{
    color: white;
    text-align: center;
    margin-top: 2rem;
}

section{
    width: 80%;
    margin: auto;
}

.card{
    background-color: white;
    padding: 3rem 0;
}

.row{
    display: flex;
}

.col{
    display: flex;
}

.flex-grow{
    flex-grow: 1;
}
.flex-dir-column{
    flex-direction: column;
}

.card.rounded .col{
    align-items: center;
}

label{
    color: #b91450;
    padding: 20px 0;
}

input, select{
    font-size: 1.2rem;
    border-radius: 8px;
    border: 2px solid #b91450;
    text-align: center;
}

input:focus, select:focus{
    background-color: #b91450;
    border-radius: 8px;
}

button{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 8px;
    color: #b91450;
}

table{
    width: 90%;
    margin-top: 14px;
    margin-left: 10%;
    height: 80%;
    font-size: 1.1rem;
}

th{
    text-align: left;
}

tbody > tr{
    vertical-align: bottom;
}

#dati-biglietto .row:first-child{
    justify-content: space-around;
}

#dati-biglietto .row:first-child .col{
    flex-direction: column;
}

#dati-biglietto .row:last-child{
    justify-content: center;
}

#biglietto{
    opacity: 0;
    margin-bottom: 50px;
}

#biglietto .row{
    height: 200px;
}

/* Classi che verranno aggiunte dinamicamente in main.js per transizioni di 
   apparizione e scomparsa della sezione #biglietto */
#biglietto.appare{
    transition: 1s;
    opacity: 1;
}
#biglietto.scompare{
    transition: 1s;
    opacity: 0;
}